<h1>Chaves</h1>

<a href="{% url 'chave_create' %}">
    Adicionar chave
</a>

<hr>

{% for chave in chaves %}
    <p>
        {{ chave.imovel.codigo }} -
        {{ chave.status }}

        {% if chave.status == 'disponivel' %}

            <a href="{% url 'retirar_chave' chave.id %}">
                Retirar
            </a>

        {% else %}

            <a href="{% url 'devolver_chave' chave.id %}">
                Devolver
            </a>

        {% endif %}
    </p>

{% empty %}
    <p>Nenhuma chave cadastrada.</p>
{% endfor %}

