<h1>Histórico de movimentações</h1>

<a href="{% url 'imovel_list' %}">
    Imóveis
</a>

|

<a href="{% url 'chave_list' %}">
    Chaves
</a>

<hr>

<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Buscar"
        value="{{ query }}"
    >

    <button type="submit">
        Buscar
    </button>

</form>

<hr>

{% for mov in movimentacoes %}

    <p>
        <strong>
            {{ mov.chave.imovel.codigo }}
        </strong>

        -
        {{ mov.acao }}

        -
        {{ mov.nome_cliente }}

        -
        {{ mov.telefone_cliente }}

        -
        {{ mov.usuario }}

        -
        {{ mov.data }}
    </p>

{% empty %}

    <p>
        Nenhuma movimentação encontrada.
    </p>

{% endfor %}
