<a href="{% url 'chave_list' %}">
    Chaves
</a>

|

<a href="{% url 'historico_list' %}">
    Histórico
</a>


<h1>Imóveis</h1>

<a href="{% url 'imovel_create' %}">Adicionar imóvel</a>

<hr>

{% for imovel in imoveis %}
    <p>
        {{ imovel.codigo }} -
        {{ imovel.endereco }} -
        {{ imovel.bairro }}

        <a href="{% url 'imovel_update' imovel.id %}">
            Editar
        </a>

        <a href="{% url 'imovel_delete' imovel.id %}">
            Excluir
        </a>
    </p>

{% empty %}
    <p>Nenhum imóvel cadastrado.</p>
{% endfor %}


