{% extends "imoveis/base.html" %}

{% block content %}

<h1 class="mb-4 fw-bold">Imóveis</h1>

<a href="{% url 'imovel_create' %}" class="btn btn-success mb-3">
    Adicionar imóvel
</a>

<form method="GET" class="row g-2 mb-4">

    <div class="col-md-4">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Buscar imóvel"
            value="{{ query }}"
        >
    </div>

    <div class="col-md-3">
        <select name="status" class="form-select">

            <option value="">
                Todos os status
            </option>

            <option value="disponivel">
                Disponível
            </option>

            <option value="analise">
                Em análise
            </option>

            <option value="alugado">
                Alugado
            </option>

            <option value="inativo">
                Inativo
            </option>

        </select>
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
            Buscar
        </button>
    </div>

</form>

<div class="row">

{% for imovel in imoveis %}

    <div class="col-md-6 mb-3">

        <div class="card shadow-sm h-100 border-0">

            <div class="card-body">

                {% if imovel.foto %}

                  <img src="{{ imovel.foto.url }}"
                    class="img-fluid rounded mb-3"
                    style="height: 200px;
                      width: 100%;
                      object-fit: cover;">

                 {% endif %}

                <h5 class="card-title">
                    {{ imovel.codigo }}
                </h5>

                <p class="card-text">

                    <strong>Endereço:</strong>
                    {{ imovel.endereco }}

                    <br>

                    <strong>Bairro:</strong>
                    {{ imovel.bairro }}

                    <br>

                    <strong>Status:</strong>
                    {% if imovel.status == 'disponivel' %}

                       <span class="badge bg-success">
                       Disponível
                       </span>

                    {% elif imovel.status == 'analise' %}

                       <span class="badge bg-warning text-dark">
                       Em análise
                       </span>

                    {% elif imovel.status == 'alugado' %}

                       <span class="badge bg-danger">
                        Alugado
                       </span>

                    {% else %}

                       <span class="badge bg-secondary">
                        Inativo
                       </span>

                    {% endif %}


                    <br>

                    <strong>Visitas:</strong>
                    {{ imovel.total_visitas }}

                </p>

                <a href="{% url 'imovel_update' imovel.id %}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                {% if request.user.is_superuser or request.user.groups.all.0.name == 'Gerentes' %}

                <a href="{% url 'imovel_delete' imovel.id %}"
                   class="btn btn-danger btn-sm">
                    Excluir
                </a>

                {% endif %}

            </div>

        </div>

    </div>

{% empty %}

<p>
    Nenhum imóvel encontrado.
</p>

{% endfor %}

</div>


{% endblock %}
