{% extends "imoveis/base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h2 class="mb-4">
            Retirar chave
        </h2>

        <p>
            <strong>
                Imóvel:
            </strong>

            {{ chave.imovel.codigo }}
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn btn-primary">
                Confirmar retirada
            </button>

        </form>

    </div>

</div>

{% endblock %}
